@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    color: white;
  }
  
  /* DESDE AQUI EMPIEZA LA SECCIÓN DEL CARRITO */
  .tabla-calculo {
    display: flex;
    justify-content: center;
  }
  .tabla {
    width:80%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    margin-bottom: 2rem;
    empty-cells: hide;
    border-radius: 10px;
  }
  .titulo-tabla {
    font-size: 1.5rem;
    padding: .5rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }
  .border-top-left {
    background-color: #000;
    color: #fff;
    border-top-left-radius: 10px;
  }
  .border-top-right {
    background-color: #000;
    color: #fff;
    border-top-right-radius: 10px;
  }
  .border-bottom-right {
    border-bottom-right-radius: 10px;
  }
  .border-bottom-left {
    border-bottom-left-radius: 10px;
  }
  th {
    font-size: 1.1rem;
    
  }
  th, td, tr {
    border: var(--border-table);
    text-align: center;
    padding: .4rem 0;
  }
  td {
    background: hsla(210, 40%, 90%, .9);
    color: black;
  }
  .precio-tabla::before {
    padding-right: 0.4rem;
  }
  .button {
    margin: 0 1rem;
    border: var(--border-table);
    background: #000;
    color: white;
    cursor: pointer;
    padding: 5%;
    border-radius: 3px;
    font-size: 1em;
  }
  button i {
    margin: 5px;
  }
  .negrita {
    font-weight: bold;
  }
  .none {
    background: transparent;
    border: none;
  }
  
  
  /* DESDE AQUI EMPIEZA LA SECCIÓN DE LOS PRODUCTOS */
  .cartola {
    height: 300px;
    width: 230px;
    border-radius: 0.35rem;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow:0px 0px 1rem hsla(240, 100%, 90%, 0.3);
    transition: transform 0.1s;
    overflow: hidden;
    margin: 1rem;
    border: 1px solid #666;
  }
  .cartola:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 0 2rem hsla(240, 100%, 90%, 0.5);
  }
  /* Imagen */
  .contenedor-img {
    height: 127px;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  /* Nombre y descripción del producto */
  .div-info {
    flex: 1;
    border-bottom: var(--border);
    overflow: hidden;
  }
  .nombre-prod {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2rem 0;
  }
  .separador {
    width: 80%;
    margin: .2rem auto;
    border: none;
    border-top: var(--border);
  }
  .descripcion-prod {
    margin: 0;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    overflow: hidden;
    opacity: .7;
  }
  /* Precio y Boton Carrito */
  .div-precio-boton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
  }
  .precio {
    margin: 0 .5em;
  }
  .precio::before {
    padding-right: 0.3rem;
  }
  .boton {
    background: hsla(210, 40%, 70%, .7);
    cursor: pointer;
    border: var(--border);
    font-size: 1rem;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.15);
  }
  .boton:hover {
    color: rgba(255, 255, 255, .8);
    background: hsla(210, 40%, 50%, 1);
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.25);
  }
  .boton::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://www.flaticon.es/svg/static/icons/svg/3523/3523885.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .boton:hover::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://www.flaticon.es/svg/static/icons/svg/3523/3523887.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .carrito {
    width: 18px;
  }
  /* Contenedor de todos los productos */
  .contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

/*New Style*/


*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
header{
    background: url(img/telefonos.png);
    background-size: cover;
    background-position:center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 80px;
    /* background-color: #000; */
    color: #2f00ff;
    padding: 20px 0;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    cursor: pointer;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #ff0000;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #757575;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    
}

.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }